<!DOCTYPE html>
<head>
    <link rel="icon" href="https://i.ibb.co/zVgvBGV/meddoc-logo.png" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login into your MEDDOC account</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="style1.css">
</head>
<body background="https://i.ibb.co/1K0gNvb/Web-capture-12-4-2023-183047.jpg">
    <div class="logo">
    <img src="https://i.ibb.co/gVzx8p2/meddoc.png" alt="meddoc" border="0">  
    </div>
    <div class="container">
        <form class="form" id="login">
            <h1 class="form__title">Login into your MED<span style="color:#B2B4E0">DOC</span> account</h1>
            <div class="form_message form_message--error"></div>
            <div class="form__input-group">
                <input type="text" class="form__input" autofocus placeholder="Username">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" autofocus placeholder="Password">
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit">Sign In</button>
                </div>
    <script src="main.js"></script>
</body>